Package: zabbix-nut
Version: 1.0.0-2021110301
Section: net
Priority: optional
Architecture: all
Depends: zabbix-agent (>=4.0)
Maintainer: Gabriele Vivinetto <gabriele.mailing@rvmgroup.it>
Description: Zabbiz agent scripts to monitor NUT UPS status
 These scripts monitor NUT UPS status

